/* Document showing my css for the weather page */

/* **************************
* 1. Imports
* 2. General Styles (layout, nav, etc)
    * 2a. Layout
* 3. Mobile Styles
* 4. Large Styles
*************************** */

/* ******************
1. Imports
******************** */
/* get the fonts from google */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* import normalize style sheet */
@import url ('normalize.css');

/* ****************************
* 2. General Styles
**************************** */


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sansita, georgia, serif;
    font-size= 2em;
}

* {
 box-sizing: border-box; /* changes width property
    to total width instead of content width */
}
*:before, *:after{
 box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
}

header,
nav,
footer {
    background-color: beige;
    width: 100%
}

body {
 margin: 0; /* remove any margin from body */
 padding: 0; /* ditto for padding */
 font-family: helvetica, arial, sans-serif;
 font-size: 20px;
}

/*************** 3. movile styles ********************/

#logo {
    font-size: 2.5em;
    display: inline-block;
}

#site-brand {
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px;
    display: inline-block;
}

h1 {
    margin: 0px;
    padding-left: 10px;
}

h2 {
    display: none;
}

nav a:link {
    text-decoration: none;
    color: black;
}

nav a:visited {
    text-decoration: none;
    color: black;
}

nav a:active {
    text-decoration: none;
    color: darkgray;
}


nav {
    position: fixed;
    bottom: 0;
    left: 0;
    /*   width: 100%; */
}

nav ul li {
    display: inline-block;
    list-style: none;
}

li {
    list-style-type: none;
}

#page-nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-size: 4.5vw;
}

nav a:hover {
    text-decoration: none;
    color: cornflowerblue;
}
img {
    max-width: 100%;
}

#locationInfo {
    font-size: 12px;
    margin: .5em;
}

#curWeather {
    background-image: url("/weather/images/plan-images/plan-images/sunny-winter.jpg");
    background-size: cover;
    padding-top: .2em;
    padding-bottom: .2em;
}

#smallConditions {
    margin: .5em;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    background: #fff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

main {
    background-color: #FFF;
    
}

#curTemp {
    padding: 0;
    margin: 0;
    font-size: 2.5em;
}

#feel {
    justify-content: center;
}

#hi, #lo {
    display: inline-block;
}

#hi {
    color: red;
}

#lo {
    color: blue
}

#wind {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: .3;
}

#windDial {
    width: 150px;
    height: 150px;
    z-index: 100;
    margin: -.6em auto 0;
}

#windSpeed {
    margin-top: -4.7em;
    margin-bottom: 3em;
}

/*This is the css that will make the wind dail rotate*/
.north {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.ne {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.east {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.se {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.south {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sw {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.west {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.nw {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}

#windInfo {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#video {
    margin: .5em;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

#hourly {
    border: 1px solid;
    border-radius: 15px;
    margin-top: 10px;
}

hourly ul li {
    white-space: nowrap;
    display: inline;
}

footer {
    margin-bottom: 3em;
}

/***************** 4. large screen styles ****************/


@media screen and (min-width: 700px) {
/*    Center content on screen    */
    body > div {
        max-width: 1100px;
        margin: 0 auto;
    }
    
    #page-nav {
        position: relative;
        font-size: inherit;
        width: auto;
        padding: 5px;
    }
    
    #page-nav ul {
        font-size: 20px;            
    }
    
    #locationInfo {
        display: flex;
        font-size: 1em;
    }
    
    h2 {
        display: block;
        margin: .25em 0;
        text-align: center;
    }
    
    #curWeather {
        display: flex;
        justify-content: space-around;
        padding: 1em 0;
    }
    
    #smallConditions {
        border: 0;
        background-color: transparent;
        padding-bottom: 0;
        margin: 0;
        width: 63%;
        justify-content: space-around;
    }
    
    #temps {
        margin: .5em;
        border: 1px solid;
        border-radius: 15px;
        justify-content: space-around;
    }
    
    #wind {
        margin: .5em;
        border: 1px solid;
        border-radius: 15px;
        justify-content: space-around; 
    }
    
    #video {
        display: block;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}






