@import url("https://fonts.googleapis.com/css?family=Sansita");

@font-face 
{
font-family : "'Sansita'";
font-style : normal;
font-weight : 400;
src : local('Sansita Regular'), local('Sansita-Regular'), url(https://fonts.gstatic.com/s/sansita/v1/i4y24Wm1Hpy25yM7r2FKUg.ttf) format('truetype');
}


body {
   padding: 0;
    margin: 0;  
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    background-color: #fff;
}

* {
    box-sizing: border-box; 
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block; 
}

footer {
    margin: 5px 0px 50px 0px;
    padding-left: 10px;
}

h1,h2,h3,h4,h5,h6 
{
    font-family: Sansita, "helvetica", generic-family; 
    font-size: 22px;
}

header,
nav,
footer {
    background-color: cadetblue;
}

h1 {
   margin-top: 0;
    font-weight: 300; 
    font-size: 1.8em;
    margin-bottom: 0;
}

#logo {
      width: 50px;
    height: 50px;
}

#site-brand {
    overflow: auto;
    font-size: 1.8em;
    font-weight: normal;
    display: inline;
    padding-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
}


ul li {
    list-style: none;
    text-decoration: none;
    
}
nav 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#location-info > h2 {
    display: none;
}

dt,
dd {
    display: inline;
    padding: 0;
    margin: .25em 0;
}

#location-info {
    font-size: 11.5px;
    padding: 5px 0px 5px 5px;
}

#smallConditions + h2 {
    display: none;
}

#largeConditions + h2 {
    display: none;
}

.container {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

#hourly ul {
   display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    list-style: none;
    margin-top: 1px;
    height: 150px;
    border: .2px ;
    border-radius: 100px;
}

footer img {
    max-width: 250px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#small-icon-pos {
    text-align: center;
}

#icon-pos {
    text-align: center
}


nav {
    height: 23px;
    background-color: cadetblue;
}

nav ul {

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 6vw;
    background-color: cadetblue;
     list-style:none; 
    font-size: 1em;

}

nav ul li a:link {
    text-decoration: none;
    color: mediumpurple;
}

nav ul li a:active {
    color: ghostwhite;
}

#small-temps-and-winds {
    display: flex;
    justify-content: space-around;
}


#small-cur-temp {
    font-size: 95px;
    margin: 0;
}

#small-hi {
    color: red;
    padding-left: 30px;
}

#small-lo {
    color: blue;
    padding-left: 20px;
}

#small-feels {
    padding-left: 20px;
}


#small-north-point {
    margin: 10px 0px 0px 0px;
    padding: 0;
    padding-right: 10px;
    text-align: center;
}

#small-wind-pointer {
    max-height: 150px;
    max-width: 150px;
    margin-right: 10px;
    position: relative;
    z-index: 100;
}

.north {
    transform: rotate(0deg);
}

.ne {
    transform: rotate(45deg);
}

.nw {
    transform: rotate(315deg);
}

.south {
    transform: rotate(180deg);
}

.se {
    transform: rotate(135deg);
}

.sw {
    transform: rotate(225deg);
}

.west {
    transform: rotate(90deg);
}

.east {
    transform: rotate(270deg);
}

#small-wind-speed {
    text-align: center;
    position: relative;
    bottom: 110px;
    right: 5px;
}

#small-wind-direction {
    margin: 0;
    padding: 0;
    line-height: 5px;
    font-size: 18px;
    text-align: center;
    position: relative;
    bottom: 50px;
}

/*  Small screen version*/
#largeConditions {
    display: none;
}

#curWeather h2, #hourly h2 {
    display: none;
}

/*small to large style*/
@media screen and (min-width: 700px) {

    body > div {
    max-width: 1050px;
    margin: 0 auto;
    }

    nav {
        position: relative;
        width: auto;
    }

    nav ul li {
        font-size: 20px;
    }

    #location-info {
        font-size: 18px;
    }

    #largeConditions {
        display: flex;
        justify-content: space-between;
        padding: 1em 0;
    }

    #smallConditions {
        display: none;
    }

    #curWeather h2,
    #hourly h2 {
        display: block;
        margin: 10px;
        font-size: 28px;
    }

    #hourly img {
        display: block;
        max-height: 40px;
        max-width: 30px;
        position: absolute;
        bottom: -84px;
        right: 10px;
    }

    footer {
        border-top: 3px solid #000;
    }

    #cur-temp {
        font-size: 96px;
        margin: 0;
        padding: 10px;
    }

    #hi {
        color: blue;
        padding-left: 30px;
    }

    #lo {
        color: red;
        padding-left: 20px;
    }

    #feels {
        padding-left: 20px;
    }

    #north-point {
        margin: 10px 0px 0px 0px;
        padding: 0;
        padding-right: 10px;
        text-align: center;
    }

    #wind-pointer {
        max-height: 150px;
        max-width: 150px;
        margin-right: 10px;
        position: relative;
        z-index: 100;
        padding: 0px 10px;
    }

    .north {
        transform: rotate(0deg);
    }

    .ne {
        transform: rotate(45deg);
    }

    .nw {
        transform: rotate(315deg);
    }

    .south {
        transform: rotate(180deg);
    }

    .se {
        transform: rotate(135deg);
    }

    .sw {
        transform: rotate(225deg);
    }

    .west {
        transform: rotate(90deg);
    }

    .east {
        transform: rotate(270deg);
    }

    #wind-speed {
        text-align: center;
        position: relative;
        bottom: 100px;
        right: 5px;
    }

    #wind-direction {
        margin: 0;
        padding: 0;
        line-height: 5px;
        font-size: 18px;
        text-align: center;
        position: relative;
        bottom: 50px;
    }
}