body {
    display: flex;
    font-family: sans-serif;
    font-size: 18px;
    background-image: url(/acme/images/site/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1200px;
    align-content: center;
    margin: auto;
}

main {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 5%;
    background-color: #ffffff;
    margin: auto;
    width: 80%;
    min-width: 600px;
}


.content {
    width: auto;
}

.pic {
    background-image: url('/acme/images/site/feature.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 850px;
    color: #990033;
    display: flex;
    justify-content: flex-end;
}

.pic img {
    max-width: 230px;
}

.rint {
    height: 400px;
    padding-right: 35px;
}

#rheader {
    font-size: 28px;
}

.rlist {
    font-size: 20px;
    list-style: none;
    padding-left: 0;
}

.content h1 {
    font-size: 40px;
    text-align: center;
}
#page-nav {
    background-color: #de2226;
    bottom: 0;
    left: 0;
    width: 100%;
}

#page-nav ul {
    display: flex;
    align-items: stretch;
    height: 2.5em;
    margin: 0;
    padding: 0;
    list-style: none;
}

#page-nav li {
    flex: 1;
    display: flex;
    justify-content: center;
}

#page-nav a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#page-nav a:hover {
    background-color: #ffffff;
    color: #000;

}

.wrapper {
    display: flex;
}

.wrapper div {
    display: flex;
    flex-direction: column;
    margin: 3%;
    text-align: center;
}

.wrapper div img {
    width: 70px;
    margin: 0 auto;
}

#featured {
    margin-left: 16px;
}

.reviews {
    margin-right: 40px;
    margin-left: 10px;
}

.blockDisplay{
    display : flex;
    flex-flow : row nowrap;
    justify-content: space-between;
}

#recipe-content {
display : flex;
flex-flow : row wrap;
list-style : none;
width : 25em;
}

.eat {
border-left-width : 20px;
border-right-width : 20px;
border-bottom-width : 4px;
border-color : lightgray;
border-style : solid;
width : 5em;
}

figure {
width : 31%;
text-align : center;
margin : 10px;
}

.container {
    background-color: #ffffff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.secondary_header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ff0000;
    clear: left;
}


.left_article {
    background-color: #ffffff;
    width: 50%;
    /*float: left;*/
    font-family: "Source Sans Pro";
    color: #343434;
    padding-bottom: 18px;
}

.noDisplay {
    display: none;
}

.container .left_article h1 {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    color: #717070;
    font-weight: bold;
    text-transform: uppercase;
}

#reviews {
width : 400px;
}

#reviews h3 {
margin-top : 1px;
margin-bottom : 1px;
}

#right_article {
    width: 45%;
    background-color: #ffffff;
    font-family: 'Chelsea Market', cursive;
}
#product-content {
    display: flex;
}

#prod-description {
    height: 300px;
    background-repeat: no-repeat;
    list-style: none;
    justify-content: flex-end;
    margin-left: 8%;
    padding-right: 8%

}

#product-zone {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}

#product-content h1 {
    font-size: 40px;
}
#prod-image {
    height: 350px;
    width: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 33%;

}
#page-footer {
    background-color: #ffffff;
    color: #000000;
    padding: .5em;
    margin-bottom: 2em;
    font-size: 13px;
    text-align: center;
}

#page-footer p {
    margin: 0;
}

noscript {
    color: #ffffff;
}

.column_title {
    padding-top: 25px;
    padding-bottom: 25px;
}
.copyright {
    text-align: center;
    color: black;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    font-family: "Source Sans Pro";
}




/*Large Screen*/
@media only screen and (max-width: 1000px) {
    
    

    #body {
        display: flex;
        font-size: 18px;
        background-image: url("/acme/images/site/background.jpg");
        background-size: cover;
        max-width: 1100px;
        align-content: center;
        margin: auto;
        font-family: sans-serif;
    }

    #page {
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        align-items: stretch;
        margin: 3%;
        background-color: #fff;
        margin: 0 auto;
        width: 80%;
        min-width: 600px;
    }
    
    #wel {
        text-align: left;
        margin: 0.25em 0;
    }

    .content {
        width: auto;
    }

    .main-picture {
        background-image: url('images/site/feature.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 950px;
        color: #990033;
        display: flex;
        justify-content: flex-end;
    }

    .pic img {
        max-width: 227px;
    }

    .rint {
        height: 250px;
        padding-right: 15px;
    }

    .rlist {
        font-size: 15px;
        list-style: none;
        padding-left: 0;

    }

    .content h1 {
        font-size: 40px;
        text-align: center;
    }

    #page-nav {
        background-color: #de2226;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    
    #page-nav ul {
        display: flex;
        align-items: stretch;
        height: 2.5em;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #page-nav li {
        flex: 1;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    #page-nav a {
        text-decoration: none;
        color: #ffffff;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

    }

    #page-nav a:hover {
        background-color: #ffffff;
        color: #000;
    }

    .wrapper {
        display: flex;
    }

    .wrapper div {
        display: flex;
        flex-direction: column;
        margin: 3%;
        text-align: center;
    }

    .wrapper div img {
        width: 70px;
        margin: 0 auto;
    }

    #right_article {
        width: 370px;
    }

    #right_article h3 {
        margin-top: -14px;
        margin-bottom: -10px;
    }

    .blockDisplay {
        display: flex;
        flex-flow: row wrap;
    }

    #recipes {
        width: 500px;

    }

    #recipes h3 {
        margin: 5px 0 -5px 0;
    }

    #recipe-content {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
            flex-grow: 1;
        width: 25em;
    }

    .eat {
        border-left-width: 20px;
        border-right-width: 20px;
        border-bottom-width: 4px;
        border-color: lightgray;
        border-style: solid;
        width: 5em;
    }

    figure {
        width: 30%;
        text-align: center;
        margin: 8px;
    }

    .container {
        background-color: #ffffff;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-bottom-width: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    .secondary_header {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #ff0000;
        clear: left;
    }

    .left_article {
        background-color: #ffffff;
        width: 60%;
        float: left;
        font-family: "Source Sans Pro";
        color: #343434;
        padding-bottom: 15px;
    }

    .noDisplay {
        display: none;
    }

    .container .left_article h1 {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 5%;
        color: #717070;
        font-weight: bold;
        text-transform: uppercase;
    }

    .right_article {
        width: 40%;
        float: left;
        background-color: #ffffff;
    }

    #product-content {
        display: flex;
    }

    #prod-description {
        height: 150px;
        background-repeat: no-repeat;
        list-style: none;
        justify-content: flex-end;
        margin-left: 4%;
        padding-right: 4%
    }

    #product-zone {
        display: flex;
        flex-direction: row;
        flex-grow: 3;
    }

    #product-content h1 {
        font-size: 30px;
    }

    #prod-image {
        height: 300px;
        width: 40%;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 33%;
    }

    #page-footer {
        background-color: #ffffff;
        color: #000000;
        padding: .5em;
        margin-bottom: 2em;
        font-size: 12px;
        text-align: center;
    }

    #page-footer p {
        margin: 0;
    }

    noscript {
        color: #ffffff;
    }

    .column_title {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .copyright {
        text-align: center;
        font-weight: lighter;
        color: black;
        letter-spacing: 2px;
        border-top-width: 2px;
        font-family: "Source Sans Pro";
    }

}