/******************
*1. General
*2. Mobile
*3. Large
*******************/


/******
*1. General
******/

body {
    background-image: url(/acme/images/site/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#body-look {
    background-color: white;
}

footer {
    border-top: 3px solid black;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

#title {
    font-size: 2.5em;
    margin-bottom: 2px;
    font-family: Helvetica, sans-serif;
    margin-left: 5px;
}

#hello {
    color: crimson;
    list-style: none;
    position: absolute;
    text-align: left;
    right: 1%;
    top: 10%;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

#navigation {
    position: relative;
    bottom: 0;
    left: 0;
    width: inherit;
    display: flex;
    justify-content: flex-start;
    font-size: 1em;
    background-color: crimson;
    color: white;
    padding-top: 10px;
    list-style: none;
    font-size: inherit;
    font-family: Helvetica, sans-serif;
    width: auto;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation :hover {
    color: black;
    background-color: white;
}

#navigation li {
    margin: 0px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#review {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

#recipes {
    font-family: Hlevetica, sans-serif;
}

#recipes #main-image {
    display: flex;
    flex-wrap: wrap;
}

#recipes .box {
    width: 45%;
    height: 45%;
    text-align: center;
    background-color: rgba(200, 200, 200, .6);
    margin: .2em auto;
    padding: 3px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#hello {
    color: crimson;
    position: absolute;
    list-style: none;
    text-align: left;
    right: 3%;
    top: 40%;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
}

#rocket #feat-prod {
    font-size: 2em;
}

#rocket #main-feat {
    width: 100%;
}

#name {
    font-size: 2.5em;
    margin: 0px;
}

#prod-main {
    display: flex;
    flex-direction: column;
}

#information {
    font-size: 1.25em;
}

#information #price {
    color: crimson;
}


/***************
*2. Mobile
*************/

body {
    background-image: url(/acme/images/site/background.jpg);
    background-repeat: no-repeat;
    height: 100%;
}


/*************
*3. Large
************/

@media screen and (min-width: 760px) {
    body > div {
        max-width: 1100px;
        margin: 0 auto;
    }
    #hello {
        color: crimson;
        position: absolute;
        list-style: none;
        text-align: left;
        right: 5%;
        top: 25%;
    }
    #rocket #feat-prod {
        font-size: 3em;
    }
    #rocket {
        font-size: 1em;
        display: flex;
        position: relative;
    }
    
    #rocket #main-feat {
        width: 100%;
    }
    #box {
        display: flex;
    }
    #box #review {
        order: 2;
        flex: 1.5;
        font-size: 20px;
        padding-top: 100px;
    }
    #reviews-top {
        text-align: center;
    }
    #recipes-top {
        text-align: center;
    }
    #box #recipes {
        flex: 1;
        font-size: 1.5em;
    }
    #name {
        margin: auto;
    }
    #prod-main {
        flex-direction: row;
        margin-bottom: 20px;
    }
    #prod-main #path {}
    #information {
        margin: 10px;
        flex: 1.5;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
    }
    #information #price {
        color: crimson;
    }
}