/******************************************
1. General Template
2. Mobile
3. Large
**************************************/


/*********************** General **********************/
* {
box-sizing: border-box; 
}
*:before, *:after
{
    box-sizing: border-box;
}

body {
    background-image: url("/acme/images/site/background.jpg");
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px 11px;
    text-decoration: none;
}

/*unvisited link*/
a:link {
    color: white;
}

/*visited link*/
a:visited {
    color: black;
}

/*hovering*/
a:hover {
    color: #808080;
}

/*selected*/
a:active {
    color: #0000ee;
}

#white {
    background-color: white;
    font-family: Helvetica, sans-serif;
    margin: 0px 70px 50px 70px;
}

#content {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 11px;
}

footer {
    text-align: center;
    background-color: beige;
    font-family: Helvetica, sans-serif;
}

#logo {
    width: 400px;
}

/******************** Large ***************************/

@media screen and (min-width: 750px) {
    
    
    
    
    
}